* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: inter, sans-serif;
	background: #6e8185;
	margin-top: 10px;
}

/* Navbar */
.navbar {
	float: right;
	padding: 10px;
}

.navbar ul {
	list-style: none;
	display: flex;
}

.navbar li {
	margin-right: 20px;
}

.navbar a {
	text-decoration: none;
	font-family: inter, sans-serif;
	background-color: #ffffff;
	opacity: 0.8;
	padding: 10px 20px;
	border-radius: 5px;
	color: #170202;
	font-size: 16px;
	font-weight: 500;
}

.navbar a:hover {
	background-color: #9ebbbd;
}

/* instrcutions */
#start {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	width: 30%;
	background: #636f6f;
	opacity: 0.8;
	cursor: pointer;
	color: white;

	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}

/* opponent */
#opponent-choice {
	width: 80px;
}

#opponent-score {
	margin: 5px;
	color: #170202;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 29px;
}

/* user */
#user-choice {
	width: 80px;
}

#user-score {
	margin: 5px;
	color: #170202;
	margin-bottom: 12px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 29px;
}

/* for the choices to choose from either rock paper or scissor */
#choices {
	display: flex;
	width: 240px;
	height: 240px;
	margin: 0 auto;
	margin-top: 12px;
	cursor: pointer;
	justify-content: space-around;
}

#choices img {
	width: 20%;
}

#user-choice,
#opponent-choice, #choices img {
	transition: transform 0.5s ease-in;
}

.selected {
	transform: scale(1.1);
}

/* status of the game */
#gamestatus {
	margin-top: 3%;
	margin-bottom: 2%;
	font-size: 32px;
	color: black;
	font-family: inter, sans-serif;
	font-weight: 400;

	font-family: "Inter";
	font-size: 24px;
	line-height: 29px;
}

#restart {
	padding: 10px;
	background: #d4f6ed;
	border: none;
	outline: none;
	border-radius: 8px;
	cursor: pointer;
	color: black;

	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 29px;
}
