/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Montserrat:wght@300;400;500&family=Open+Sans:wght@300&family=Quicksand:wght@300;500&family=Raleway:wght@200&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #d7ebec;
	font-family: "Inter", sans-serif;
}

/* Navbar */
.navbar {
	display: flex;
	float: left;
	justify-content: space-evenly;
	margin-top: -8%;
	margin-left: 15%;
	padding: 10px;
}

.navbar ul {
	list-style: none;
	display: flex;
}

.navbar li {
	margin-right: 20px;
}

.navbar a {
	text-decoration: none;
	opacity: 0.9;
	padding: 10px 20px;
	border-radius: 5px;
	color: #0c0c0c;
	font-style: bold;
	font-weight: 600;
	font-size: 16px;
	line-height: 25px;
}
.navbar a:hover {
	background-color: #9ebbbd;
	
}

/* Brand Pattern */
.brandpattern {
	float: right;
}

.brandpattern .brand {
	width: 60%;
	margin-left: 20%;
}

/* Main Body */
main {
	margin-top: 150px;
	padding: 20px;
}

.aboutus {
	margin-bottom: 20px;
}

.aboutus h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.aboutus h4 {
	width: 40%;
	font-size: 50px;
	font-weight: 300;
	margin-bottom: 30px;
}

.aboutus p {
	width: 32%;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: #766d6d;
	margin-bottom: 10px;
}

/* button */
.startbutton {
	text-align: center;
	margin-left: 0%;
}

.startbutton button {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 400;
	background-color: #000000;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 12px;
}

.startbutton button:hover {
	background-color: #3399e2;
}

h5 {
	font-size: 16px;
	margin-top: -2%;
	margin-left: 10%;
}

footer {
	text-align: center;
	margin-top: 16%;
	margin-left: 30%;
}

footer p {
	font-size: 14px;
	color: #777;
}
