body {
  font-family: Inter, sans-serif;
  font-weight: 400;
}

/* main container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* the title */
h1 {
  font-family: inter,sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* card */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

 .card img {
  width: 300px;
  max-height: 350px;
  object-fit: cover;
  
} 

.card h2 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

/* button */

.get-started button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #564b9d;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.get-started {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.get-started button:hover {
  opacity: 0.7;
}

/* go back button */
.back {
  text-decoration: none;
  margin-top: 30px;
}

.back button {
  width: 100%;
  margin-top: 2px;
  padding: 8px 16px;
  background-color: #d5ecd5;
  color: rgb(20, 18, 18);
  text-decoration: none;
  border: none;
  cursor: pointer;

  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}
