body {
	font-family: inter;
	background-image: url("./lovebackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

 /* Navbar */
 .navbar {
    float: right;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
	font-family: inter, sans-serif;
	background-color: #9ebbbd;
	opacity: 0.8;
	padding: 10px 20px;
	border-radius: 5px;
	color: #170202;
	font-size: 16px;
	font-weight: 500;
}

.navbar a:hover {
    background-color: #ffffff ;
}


/* main container style */
#main-container {
	width: 500px;
	height: 500px;
	background-color: rgb(248, 244, 240);
	padding: 20px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 8px;
}

/* texts style */
h1 {
	font-size: 28px;
	font-weight: 500;
	color: rgb(195, 119, 31);
}

p {
	font-size: 14px;
	font-style: oblique;
	color: rosybrown;
}

/* Style for the labels */
label {
	display: block;
	margin: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	color: rosybrown;
}

/* Style for the input fields */
input[type="text"] {
	width: 200px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#calculate {
	width: 30%;
	border: none;
	outline: none;
	padding: 10px;
	margin-top: 30px;
	background-color: rgb(219, 58, 58);
	border-radius: 8px;
	color: rgb(5, 5, 5);
	font-weight: 400;
	cursor: pointer;
}

#refresh {
	width: 30%;
	border: none;
	outline: none;
	padding: 10px;
	margin-top: 30px;
	background-color: rgb(235, 201, 201);
	border-radius: 8px;
	color: rgb(20, 19, 19);
	font-weight: 400;
	cursor: pointer;
}

/* result area */

#result {
	font-size: 20px;
	font-family:inter;
	font-weight: 400;
	color: rosybrown;
}

#result-percentage {
	font-size: 30px;
	font-weight: 300;
}


/* responsive */

@media (max-width: 768px) {
	
	.navbar {
		float: none;
		text-align: center;
		padding-bottom: 10px;
	}

	.navbar ul {
		display: block;
		margin: 0;
		padding: 0;
	}

	.navbar li {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.navbar a {
		display: inline-block;
		margin-right: 10px;
	}

	#main-container {
		width: 90%;
		height: auto;
		margin-top: 10px;
	}

	input[type="text"] {
		width: 100%;
	}

	#calculate {
		width: 100%;
		margin-top: 20px;
	}
	#refresh {
		width: 100%;
		margin-top: 20px;
	}
}

@media (max-width: 480px) {
	
	.navbar {
		float: none;
	}

	.navbar ul {
		display: block;
	}

	.navbar li {
		margin-right: 0;
		margin-bottom: 10px;
	}

	#main-container {
		padding: 10px;
	}
}